In [56]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [10]:
# Store the CSV you created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2020-04-15 20:35:26,14.90,-24.50,72.79,76,93,15.57
1,1,Narsaq,GL,2020-04-15 20:35:26,60.92,-46.05,37.40,74,100,1.12
2,2,Alta Floresta,BR,2020-04-15 20:35:09,-9.88,-56.09,82.40,74,75,6.93
3,3,Kapaa,US,2020-04-15 20:35:27,22.08,-159.32,80.60,74,75,12.75
4,4,Port Alfred,ZA,2020-04-15 20:35:27,-33.59,26.89,61.00,94,3,1.99
...,...,...,...,...,...,...,...,...,...,...
541,541,Oranjemund,NaN,2020-04-15 20:34:32,-28.55,16.43,57.74,90,1,10.45
542,542,Seymchan,RU,2020-04-15 20:38:20,62.88,152.43,11.14,90,76,0.27
543,543,Sheltozero,RU,2020-04-15 20:38:20,61.37,35.37,33.40,88,13,6.80
544,544,Jieshi,CN,2020-04-15 20:38:20,22.81,115.83,66.67,77,96,0.40
545,545,Acarau,BR,2020-04-15 20:38:02,-2.89,-40.12,78.39,85,99,2.86

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
## Heatmap of Temperature

# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of Percent Humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of Percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Alta Floresta,BR,2020-04-15 20:35:09,-9.88,-56.09,82.40,74,75,6.93
3,3,Kapaa,US,2020-04-15 20:35:27,22.08,-159.32,80.60,74,75,12.75
20,20,Rikitea,PF,2020-04-15 20:35:33,-23.12,-134.97,76.35,72,99,4.61
29,29,Santa Fe,AR,2020-04-15 20:35:36,-31.63,-60.70,75.99,35,0,1.01
32,32,Libenge,CD,2020-04-15 20:35:37,3.65,18.63,79.54,59,55,2.01
33,33,Vaini,TO,2020-04-15 20:35:37,-21.20,-175.20,78.80,78,75,3.36
34,34,Bandarbeyla,SO,2020-04-15 20:35:39,9.49,50.81,82.17,76,3,8.48
36,36,Taoudenni,ML,2020-04-15 20:35:39,22.68,-3.98,88.09,30,50,15.82
37,37,Catio,GW,2020-04-15 20:35:40,11.28,-15.25,79.74,65,44,12.33
41,41,Atuona,PF,2020-04-15 20:35:14,-9.80,-139.03,82.74,75,69,12.17

In [42]:
# Check for any null values
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [44]:
# Create dataframe called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
2   Alta Floresta      BR     82.40  -9.88  -56.09
3           Kapaa      US     80.60  22.08 -159.32
20        Rikitea      PF     76.35 -23.12 -134.97
29       Santa Fe      AR     75.99 -31.63  -60.70
32        Libenge      CD     79.54   3.65   18.63
33          Vaini      TO     78.80 -21.20 -175.20
34    Bandarbeyla      SO     82.17   9.49   50.81
36      Taoudenni      ML     88.09  22.68   -3.98
37          Catio      GW     79.74  11.28  -15.25
41         Atuona      PF     82.74  -9.80 -139.03

In [45]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [49]:
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Alta Floresta,BR,82.40,-9.88,-56.09,Floresta Amazonica Hotel
3,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
20,Rikitea,PF,76.35,-23.12,-134.97,Pension Maro'i
29,Santa Fe,AR,75.99,-31.63,-60.70,Conquistador Hotel
32,Libenge,CD,79.54,3.65,18.63,
...,...,...,...,...,...,...
531,Quatre Cocos,MU,78.80,-20.21,57.76,Veranda Palmar Beach Hotel
532,Buchanan,LR,82.40,5.88,-10.05,Kamaneahn Hotel Inc
534,Hambantota,LK,80.96,6.12,81.12,Bungalow 63
538,Itubera,BR,75.74,-13.73,-39.15,Pousada Tapera
545,Acarau,BR,78.39,-2.89,-40.12,castelo pizzaria

In [58]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """"
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# Store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [63]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))